@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DotNetApp</h1>
    <h5>Belajar .NET Core</h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var product in Model.Products)
{
    <h3>@product.Title</h3>
    <img src="@product.Image" width="100px"></img>
}